footer{
	padding:20px;
}
nav ul a{
	font-size: 24px;
}
span.separator{
	padding: 0 7px;
}

li#logo a{
	height: 65px;
}
li#logo img{
	width: 175px;
}

div.company_address{
	font-size: 13px;
	color: gray;
	margin-top: -10px;
}
span.sentence{
    text-decoration: underline;
    font-weight: bolder;
}	
@media (min-width: 995px) {
	div.show-on-small{
		display: none;
	}
}